body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  background-image: url('/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  padding-left: 35px;
  text-align: center;
}

text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  pointer-events: none;
}

#chart {
  margin: 35px 35px 35px 0px;
  padding-left: 15px;
  padding-top: -15px;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(255, 255, 255, 0.7);
}

#question h1 {
  width: 250px;
  transform: translate(20px, -30px);
  color: ghostwhite;
  font-weight: normal;
  font-size: 23px;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
}

a, h3{
  height: 30px;
  margin: 20px;
  background: cyan;
  width: 200px;
  padding: 10px;
  color: purple;
  border-radius: 10px
}

a{
  width: 100;
  height: 10px;
  text-decoration: none;
}