*{
  padding:0px;
  margin: 0px;
}
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: gray;
  text-align: center;
}

text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  pointer-events: none;
}

#chart {
  margin: 20px;
  width: 260px;
  padding-inline: 25px;
  background-color: dimgray;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.points-info{
  display: flex;
  justify-content: space-between;
  margin-inline: 10px;
}

.nmbr{
  background: dimgray;
  padding: 10px;
  color: ghostwhite;
  border-radius: 10px
}

.parents{
  margin: 10px;
  padding-inline: 15px;
  display: flex;
  justify-content: space-between;
  background-color:dimgray;
  padding: 2px;
  border-radius: 4px;
}