* {
  padding: 0px;
  margin: 0px;
  color: lightcyan;
}

body {
  font-family: 'Arial', sans-serif;
  background: #5a4d4d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.coins,
.diamonds {
  text-align: center;
}

.title-for-tasks{
  font-weight: 300;
}


.coins h2,
.diamonds h2 {
  margin: 5px 0;
  font-weight: 300;
}

button,.parents p {
  background-color: dimgray;
  color: lightcyan;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid whitesmoke;
}

button:hover {
  background-color: transparent;
}

.parents p{
  padding: 3px;
}


.offers {
  width: 300px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  max-height: 53vh;
  overflow: scroll;
}

.offers-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #FF6E40;
  padding-bottom: 10px;
}

.offers-body {
  padding: 10px;
}

.parents{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color:transparent;
  border: 1px solid floralwhite;
  padding: 2px;
  border-radius: 4px;
}
.watchAds{
  padding: 0px;
  background-color: transparent;
}

input{
  width: 120px;
  border: 1px solid whitesmoke;
  background-color: transparent;
  border-radius: 7px;
  color: lightcyan;
  text-align: center;
}
input::placeholder{
  color: lightcyan;
}
input:focus{
  outline: none;
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}